version = "1.2.3.tip20251224"
dependencies = [
    "libgtk-4-dev",
    "libadwaita-1-dev",
    "git",
    "blueprint-compiler",
    "libgtk4-layer-shell-dev",
]
arch = "amd64"
path = ["/root/zig-x86_64-linux-0.15.2"]

[source.git-clone]
url = "https://github.com/ghostty-org/ghostty.git"
branch-or-tag = "tip"
post-clone-scripts = [
    "wget -q https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz -O /root/zig-x86_64-linux-0.15.2.tar.xz",
    "tar xf /root/zig-x86_64-linux-0.15.2.tar.xz -C /root",
    "ls -l /root/zig-x86_64-linux-0.15.2",
]

[debian]
changelog = true
compat = 10

[debian.control]
description = "Ghostty is a fast, feature-rich, and cross-platform terminal emulator that uses platform-native UI and GPU acceleration."
dependencies = ["${shlibs:Depends}"]

[debian.rules]
"%" = ["dh $@"]
override_dh_auto_configure = ["@true"]
override_dh_auto_build = ["@true"]
override_dh_auto_install = [
    "zig version",
    "DESTDIR=$$PWD/debian/ghostty zig build --prefix /usr -Doptimize=ReleaseFast -fsys=fontconfig",
    "rm -f debian/ghostty/usr/share/terminfo/g/ghostty",
]
