version = "0-0-stamp"
dependencies = [
    "libgtk-4-dev",
    "libgtk4-layer-shell-dev",
    "libvte-2.91-gtk4-dev",
    "sassc",
    "xxd",
    "meson",
    "liburing-dev",
    "libssl-dev",
    "blueprint-compiler",
]
arch = "amd64"

[source.git-clone]
url = "https://github.com/iliabylich/layer-shell.git"
branch-or-tag = "master"
post-clone-scripts = [
    "wget https://github.com/mozilla/cbindgen/releases/download/0.28.0/cbindgen -O /bin/cbindgen",
    "chmod +x /bin/cbindgen",
]

[debian]
changelog = true
compat = 10

[debian.control]
description = "A custom layer shell"
dependencies = [
    "${shlibs:Depends}",
    "fonts-inter-variable-nerd",
    "fonts-adwaita-mono-nerd",
]

[debian.rules]
"%" = ["dh $@"]
override_dh_auto_configure = ["dh_auto_configure -- --buildtype=release"]
