version = "0.9.2-6"
dependencies = [
    "/shared/deb-latest/x-hyprutils.deb",
    "/shared/deb-latest/x-hyprlang.deb",
    "/shared/deb-latest/x-hyprgraphics.deb",
    "/shared/deb-latest/x-hyprwayland-scanner.deb",

    "libgles2-mesa-dev",

    "libwayland-dev",
    "wayland-protocols",
    "libxkbcommon-dev",
    "libcairo2-dev",
    "libpango1.0-dev",
    "libdrm-dev",
    "libgbm-dev",
    "libsdbus-c++-dev",

    "libpam0g-dev",
]
arch = "amd64"

[source.git-clone]
url = "https://github.com/hyprwm/hyprlock.git"
branch-or-tag = "v0.9.2"

[debian]
changelog = true
compat = 10

[debian.control]
description = "Hyprland's GPU-accelerated screen locking utility"
dependencies = ["${shlibs:Depends}"]

[debian.rules]
override_dh_auto_configure = [
    "cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -S . -B ./build",
]
override_dh_auto_build = [
    "cmake --build ./build --config Release --target hyprlock -j`nproc`",
]
override_dh_auto_install = [
    "cmake --install build --prefix debian/x-hyprlock/usr",
]
